// Color scheme colors
$light-main-background: #FFFFFF;
$dark-main-background: #263238;

// Blue-Gray scale
$blue-gray-a: #ECEFF1;
$blue-gray-b: #CFD8DC;
$blue-gray-c: #B0BEC5;
$blue-gray-d: #90A4AE;
$blue-gray-e: #78909C;
$blue-gray-f: #607D8B; // button primary hover
$blue-gray-g: #546E7A; // button primary
$blue-gray-h: #455A64;
$blue-gray-i: #37474F;