@import "_variables";

body {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: $dark-main-background;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}
section {
    display: flex;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#clickMeBtn {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}

.landing {
    &__title {
        color:#FFFFFF;
    }
}

.main-content {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

.dashboard__main {
    padding-top: 10px;
}

.dasboard-main__balance {
    color:white;
    text-align: left;
    padding: 10px;
    background-color: #343a40;
    border-radius: 10px;
    min-width: 200px;
    min-height: 100px;
    max-height: auto;
}

.dasboard-main__sites {
    color:white;
    text-align: left;
    border-radius: 10px;
    padding:10px;
    background-color: #343a40;
    margin-right: 100px;
    max-width: 300px;
    min-width: 300px;
    min-height: 400px;
}

.dash-card {
    display: inline-block;
    vertical-align: top;
}

.add-website-btn-container {
    margin-left:10px;   
    margin-bottom: 10px;
}

.results_name {
    color: blueviolet;
    font-size: 16px;
    cursor: pointer;
}

.results_description {
    font-size: 12px;
    margin-left: 15px;
}

.search-btn {
    background-color: $blue-gray-g;
}
.search-btn:hover {
    background-color: $blue-gray-f;
}

.login-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; 
    cursor: pointer; 
}

.search-form {
    margin-bottom: 20px;
}

.demo-banner {
    background-color: red;
    color:white;
    text-align: center;
}


